/* .tab {
    border-radius: 20px;
    color: white;
    overflow: hidden;
    text-align: center;
    flex-grow: 1;
    cursor: pointer;
    position: relative;
    text-decoration: none;
  }
  
  
  .tab:visited,
  .tab:active {
    background: red;
    text-decoration: underline;
  }
   */
